:root {
  --button-hover: #46989D;
  --grey: rgba(0,0,0,0.1);
}

.header {
  background: url(../img/destaque.jpeg) no-repeat;
  background-size: cover;
  padding-top: 32px;
}

.header .main-menu{
  text-align: center;
}

.header .main-menu .menu-item {
  display: inline-block;
  margin: 0 2px 32px 0;
}

.header .main-menu .menu-item a {
  color: white;
  padding: 16px;
  background: var(--grey);
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.5s linear;
}

.header .main-menu .menu-item a:hover {
  background-color: var(--button-hover);
}
