:root {
  --button-hover: #46989D;
  --grey: rgba(0,0,0,0.1);
  --limegreen: #64ff64;
  --button-bg: #48a3a6;
}

.flex-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 96%;
  margin: 0 auto;
}