.panel-speakers {
  background-color: var(--orange);
  margin-top: 20px;
}

.panel-speakers .about-speakers {
  color: white;
  text-align: center;
}

.panel-speakers .title {
  font-size: 40px;
  padding-top: 20px;
}

.panel-speakers .subtitle {
  font-size: 28px;
  margin-top: 20px;
}

.speakers {
  margin-top: 20px;
  text-align: center;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start; */
}

.panel-speakers .speaker {
  background-color: white;
  display: inline-block;
  margin: 0 16px 32px 0;
  padding: 18px;
  border-radius: 10px;
  width: 220px;
  vertical-align: top;
}

.panel-speakers .speaker-image {
  border-radius: 50%;
}

.panel-speakers .speaker-name {
  margin-top: 10px;
}

.panel-speakers .speaker-bio {
  font-weight: bold;
  margin-top: 16px;
}

.panel-speakers .speaker-speach {
  margin-top: 16px;
}